# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr
*.local

# Next.js
.next
out

# Obvious install artifacts
.obvious-install

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Env
.env
.env.local
.env.*.local

